DEBUG="true"
SECURE_PROXY_SSL="false"
ALLOWED_HOSTS="['localhost',]"
AUTHORITATIVE_DOMAIN="localhost"
ABSOLUTE_URL_PREFIX="http://localhost:8000"
# SENTRY_DSN=""

ECS_LOGO_BORDER_COLOR="green"
ECS_USERSWITCHER="true"

# ECS_FILTER_OUTGOING_MAIL="true"
# EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
# LIMITED_EMAIL_BACKEND="django.core.mail.backends.console.EmailBackend"
# EMAIL_HOST="host"
# EMAIL_PORT="25"
# EMAIL_HOST_USER="username"
# EMAIL_HOST_PASSWORD="password"
# EMAIL_USE_TLS="true"
