ECS:
  DEBUG: false
  SECURE_PROXY_SSL: true
  ALLOWED_HOSTS: "nextecs.on.ep3.at"
  AUTHORATIVE_DOMAIN: "nextecs.on.ep3.at"
  ABSOLUTE_URL_PREFIX: "https://nextecs.on.ep3.at"
  SENTRY_DSN: "https://67ef2698d5ed402fb6e00e0cf13440a1:dfbb1ed17acf41ad82da31326d56c4b5@sentry.on.ep3.at/2"

  LOGO_BORDER_COLOR: "green"
  USERSWITCHER:
    ENABLED: "true"
    PARAMETER: "-it"

  MIGRATE_AUTO: "true"

  FILTER_OUTGOING_MAIL: "true"
  LIMITED_EMAIL_BACKEND: "django.core.mail.backends.console.EmailBackend"
  EMAIL:
    BACKEND: "django.core.mail.backends.console.EmailBackend"

  CLIENT:
    CERTS:
      REQUIRED: true
      # current: ECS_REQUIRE_CLIENT_CERTS

  STORAGE:

    VOLATILE: xvda
    PERMANENT: xvdb

    VAULT:
      ENCRYPT:
        SEC: |

        PUB: |

      SIGN:
        SEC: |

        PUB: |

  BACKUP:
    HOST: 'u1234.your-backup-data.host'
    TARGET_DIR: '/backups/mydata'
    USERNAME: 'username'
    PASSWORD: 'password'
    ENCRYPT_SEC: |

    ENCRYPT_PUB: |

  RECOVER:
    FROM_BACKUP: false
    FROM_DUMP: false
    DUMP_FILENAME: "" # if not empty, this file will be picked first

  FIRSTRUN:
    EXAMPLE_DATA: true
    USER:
      EMAIL: a@b.c
      FIRST: first
      LAST: last
      CERT_PASS: pwgen 16
      # creates a office group user with name first last, and email a@b.c
      # a certificate (valid for 24h) is created, crypted with cert_pass and send to a@b.c
      # user can then request "reset password" and get a password recreation link
      # login, save password, create and install a longlived certificate

  LOCAL_SETTINGS: |
      # test
      x=0
      z="jo"

  AUTHORIZED_KEYS: |


  # set by builder
  VERSION:
  GIT:
    REV:
    BRANCH:

  # used by devserver
  DEV:
    AUTOSTART: true
    REBASE_TO: master
    PGHERO_INSTALL: false

  # currently only internal to settings.py
  # this list is incomplete
  CA:
      ROOT: os.path.join(PROJECT_DIR, '..', 'ecs-ca')
    TRACKING:
      ENABLED: false
    MEETING:
      AGENDA:
        RECEIVER_GROUPS: ('Resident Board Member',)
        GRACE_PERIOD: timedelta(days=5)
      PROTOCOL:
        RECEIVER_GROUPS: ('Meeting Protocol Receiver', 'Resident Board Member')
    AMG_MPG_VOTE_RECEIVERS: ('BASG.EKVoten@ages.at',)
    DOWNLOAD:
      CACHE:
        DIR:
