[Unit]
Description=Grafana Frontend
After=docker.service
ConditionPathExists=/app/etc/flags/metric.gui
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill %n.service
ExecStartPre=-/usr/bin/docker rm %n.service
ExecStartPre=/usr/bin/docker pull prom/prometheus
ExecStart=/usr/bin/docker run \
    --rm \
    --name %n \
    -p 127.0.0.1:9090:9090 \
    --net bridge \
    prom/prometheus \
Restart=always
RestartSec=30
TimeoutStartSec=5min
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
