[Unit]
Description=postgresql metrics exporter for prometheus
After=docker.service
ConditionPathExists=/app/etc/flags/metric.collection
Requires=docker.service postgresql.service

[Service]
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull wrouesnel/postgres_exporter
EnvironmentFile=/app/etc/ecs/database_url.env
ExecStart=/usr/bin/docker run \
    --rm \
    --name %n \
    --net bridge \
    -p 127.0.0.1:9187:9187 \
    --env DATA_SOURCE_NAME=$DATABASE_URL \
    wrouesnel/postgres_exporter

Restart=always
RestartSec=10s
TimeoutStartSec=30
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
