{% macro ssl_secret(len=39) -%}
{{ salt['cmd.run_stdout']('openssl rand -base64 39') }}
{%- endmacro %}
{% macro gpg_secret(ownername) -%}
{%- set batch = 'Key-Type: 1\nKey-Length: 2048\nExpire-Date: 0\n'+
    'Name-Real: '+ ownername+ '\n%secring -&1\n%pubring -&2\n%commit\n' -%}
{%- set gpg_call = 'gpg --quiet --no-default-keyring --enable-special-filenames --batch --yes --armor --gen-key' -%}
{{ salt['cmd.run_stdout'](gpg_call, stdin=batch) }}
{%- endmacro %}

# # exchange ip number and add this to your domain config
# {{ domain }}.   IN  A     1.2.3.4
# {{ domain }}.   IN  MX    10  {{ domain }}
# {{ domain }}.   IN  TXT   "v=spf1 mx ptr -all"

ssh_authorized_keys:
  # - "ssh-rsa and some long glibberish somebody@somewhere"
  # # you can put your ssh keys here, this is also used by cloud-init
ssh_deprecated_keys:
  # - "ssh-rsa and some long glibberish somebody@somewhere"
  # # you can copy deprecated keys here,
  # # state.highstate will remove these old keys from users
appliance:
  # standby: true
  # # if set appliance will not activate, default false
  domain: {{ domain }}
  allowed_hosts: {{ domain }}
  ssl:
    letsencrypt:
      enabled: true
    # client_certs_mandatory: true
    # # if true, always need a client certificate, default false
    client_certs_mandatory: false
    # key: filename-key.pem
    # # if set ssl key for https host will be used, default empty
    # cert: filename-cert.pem
    # # if set ssl key for https host will be used, default empty

  # # set to your sentry url, must be the same as ecs_settings: SENTRY_DSN
  # sentry:
  #   dsn: 'https://url'
  # git:
  #   # default see appliance.include
  #   branch: master
  #   source: git_url
  # extra:  # write out extra files on appliance configure
  #   files:
  #     - path: /path/of/filename
  #       content: |
  #           # Your content here
  #       owner: user:group
  #       permissions: "0600"
  # env:
  #   recipients: # list of user that get the gpg encrypted tar.gz archive of the new env
  #     key_name@another.domain.name: |
  #         # your public gpg key here
  storage:
    # setup: |
    # # optional, will be executed if volatile or data can not be found
    # proxy_cache: true
    # # default false, if true 10 additional GB diskspace are used
    # # for operating polipo, a http proxy cache
    ignore: # default false, if true: will not look for ecs-volatile or ecs-data filesystem
      volatile: true
      data: true
  backup:
    url: ssh://app@localhost/volatile/ecs-backup-test/
    encrypt: |
{{ gpg_secret('ecs_backup')|indent(8,True) }}

ecs:
  # git: # default see appliance.include
  #   branch: stable
  #   source: git_url
  userswitcher:
    enabled: false
  settings: |
      DOMAIN = '{{ domain }}'
      ABSOLUTE_URL_PREFIX = 'https://{}'.format(DOMAIN)
      ALLOWED_HOSTS = [DOMAIN, ]
      PDFAS_SERVICE = ABSOLUTE_URL_PREFIX+ '/pdf-as-web/'
      SECURE_PROXY_SSL = True
      ECS_REQUIRE_CLIENT_CERTS = True
      DEBUG = False

      # SENTRY_DSN = 'https://url' # set to sentry url if available
      ETHICS_COMMISSION_UUID = 'ecececececececececececececececec'

      SECRET_KEY = '{{ ssl_secret() }}'
      REGISTRATION_SECRET = '{{ ssl_secret() }}'
      PASSWORD_RESET_SECRET = '{{ ssl_secret() }}'

      EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'
      EMAIL_BACKEND_UNFILTERED = 'django.core.mail.backends.smtp.EmailBackend'
      EMAIL_UNFILTERED_DOMAINS = () # = ('example.com',)

      SMTPD_CONFIG['listen_addr'] = ('0.0.0.0', 8025)
      SMTPD_CONFIG['domain'] = DOMAIN

      # User registration, password reset, send client certificate and mail to
      # receivers at a domain included in EMAIL_UNFILTERED_DOMAINS will be sent via
      # EMAIL_BACKEND_UNFILTERED. All other mail will be sent via EMAIL_BACKEND.
      #
      # Backend to use to NOT sent email but log email to console:
      #   django.core.mail.backends.console.EmailBackend
      #
      # Backend to use to send via EMAIL_* smtp settings:
      #   django.core.mail.backends.smtp.EmailBackend
      #

  vault_encrypt: |
{{ gpg_secret('ecs_mediaserver')|indent(6,True) }}

  vault_sign: |
{{ gpg_secret('ecs_authority')|indent(6,True) }}
