[Unit]
Description=Appliance
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=/usr/local/bin/prepare-appliance.sh
ExecStartPre=/usr/local/bin/prepare-ecs.sh
ExecStart=bash -c ". /usr/local/etc/env.include; ENV_YML=/app/active-env.yml update_env_from_userdata; exec docker-compose up -f /etc/appliance/compose/docker-compose.yml --abort-on-container-exit"
ExecStartPost=bash -c "fname=/var/www/html/app.html; if test -e $fname; then rm -f $fname; fi"
ExecStop=docker-compose stop -f /etc/appliance/compose/docker-compose.yml
WorkingDirectory=/app
Restart=on-failure

[Install]
WantedBy=multi-user.target
