[Unit]
Description=Appliance
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=/usr/local/bin/prepare-appliance.sh
ExecStartPre=/usr/local/bin/prepare-ecs.sh
ExecStart=docker-compose start
ExecStartPost=bash -c "fname=/var/www/html/app.html; if test -e $fname; then rm -f $fname; fi"
ExecStop=docker-compose stop
