[Unit]
Description=Appliance
After=docker.service postgresql.service network.target
Requires=docker.service postgresql.service stunnel.service nginx.service

[Service]
ExecStart=/bin/bash -c ". /usr/local/etc/env.include; ENV_YML=/app/active-env.yml update_env_from_userdata ecs,appliance; cd /etc/appliance/ecs; exec -a docker-compose /usr/local/bin/docker-compose up --abort-on-container-exit"
ExecStartPost=/bin/bash -c "sleep 30; . /usr/local/etc/appliance.include; appliance_status --disable"
ExecStop=/usr/local/bin/docker-compose -f /etc/appliance/ecs/docker-compose.yml stop
ExecStopPost=/bin/bash -c ". /usr/local/etc/appliance.include; appliance_exit_standby"
Restart=on-failure

[Install]
WantedBy=multi-user.target
