[Unit]
Description=Appliance Backup
ConditionFileNotEmpty=/run/active-env.yml
ConditionFileNotEmpty=/root/.gnupg/secring.gpg
ConditionFileNotEmpty=/root/.duply/appliance-backup/conf
After=network.target postgresql.service
Requires=postgresql.service
OnFailure=service-failed@%n.service

[Service]
Type=oneshot
# max time for fullbackup is 8hours, eg. 22:30->06:30 (~ 492GB on 17.5mb/s)
TimeoutStartSec=480min
Environment=UNITNAME=%n
Environment=ENV_YML=/run/active-env.yml
ExecStart=/bin/bash -c '. /usr/local/share/appliance/env.include; \
    userdata_to_env ecs,appliance; \
    exec /usr/local/share/appliance/appliance-backup.sh'
