[Unit]
Description=Appliance Backup Timer

[Timer]
# daily at 22:30 , 1.5 hours before midnight
OnCalendar=*-*-* 22:30:00

[Install]
WantedBy=timers.target
