[Unit]
Description=SSL tunnel for network daemons
After=syslog.target
After=network.target

[Service]
ExecStart=/usr/bin/stunnel4 /app/etc/stunnel.conf
User=stunnel4
Type=simple

[Install]
WantedBy=multi-user.target
