[Unit]
Description=SSL tunnel for network daemons
After=syslog.target
After=network.target
OnFailure=service-failed@%n.service

[Service]
ExecStart=/usr/bin/stunnel4 /app/etc/stunnel.conf
Type=simple

[Install]
WantedBy=multi-user.target
