# pdfas.service #######################################################################
[Unit]
Description=Pdfas
After=docker.service 
Requires=docker.service 

[Service]
ExecStartPre=-/usr/bin/docker kill pdfas
ExecStartPre=-/usr/bin/docker rm pdfas
ExecStartPre=/usr/bin/docker pull pdfas
ExecStart=/usr/bin/docker run \
    --name pdfas \
    -p 127.0.0.1:5095:8080 \
    pdfas 
ExecStop=/usr/bin/docker stop pdfas
# cadvisor.service #######################################################################
[Unit]
Description=Cadvisor
After=docker.service 
Requires=docker.service 

[Service]
ExecStartPre=-/usr/bin/docker kill cadvisor
ExecStartPre=-/usr/bin/docker rm cadvisor
ExecStartPre=/usr/bin/docker pull google/cadvisor
ExecStart=/usr/bin/docker run \
    --name cadvisor \
    -p 127.0.0.1:5080:8080 \
    --expose 8080 \
    google/cadvisor \
     --housekeeping_interval=4s
ExecStop=/usr/bin/docker stop cadvisor
# ecs.web.service #######################################################################
[Unit]
Description=Ecs.web
After=docker.service redis.service memcached.service 
Requires=docker.service redis.service memcached.service 

[Service]
ExecStartPre=-/usr/bin/docker kill ecs.web
ExecStartPre=-/usr/bin/docker rm ecs.web
ExecStartPre=/usr/bin/docker pull ecs
ExecStart=/usr/bin/docker run \
    --name ecs.web \
    -p 127.0.0.1:5000:5000 \
    -v /data/ecs-storage-vault:/app/ecs-storage-vault \
    --link redis \
    --link memcached \
    --user app \
    ecs \
    web
ExecStop=/usr/bin/docker stop ecs.web
# mocca.service #######################################################################
[Unit]
Description=Mocca
After=docker.service 
Requires=docker.service 

[Service]
ExecStartPre=-/usr/bin/docker kill mocca
ExecStartPre=-/usr/bin/docker rm mocca
ExecStartPre=/usr/bin/docker pull mocca
ExecStart=/usr/bin/docker run \
    --name mocca \
    -p 127.0.0.1:5090:8080 \
    mocca 
ExecStop=/usr/bin/docker stop mocca
# memcache.service #######################################################################
[Unit]
Description=Memcache
After=docker.service 
Requires=docker.service 

[Service]
ExecStartPre=-/usr/bin/docker kill memcache
ExecStartPre=-/usr/bin/docker rm memcache
ExecStartPre=/usr/bin/docker pull memcached
ExecStart=/usr/bin/docker run \
    --name memcache \
    memcached 
ExecStop=/usr/bin/docker stop memcache
# ecs.beat.service #######################################################################
[Unit]
Description=Ecs.beat
After=docker.service redis.service memcached.service 
Requires=docker.service redis.service memcached.service 

[Service]
ExecStartPre=-/usr/bin/docker kill ecs.beat
ExecStartPre=-/usr/bin/docker rm ecs.beat
ExecStartPre=/usr/bin/docker pull ecs
ExecStart=/usr/bin/docker run \
    --name ecs.beat \
    --link redis \
    --link memcached \
    --user app \
    ecs \
    beat
ExecStop=/usr/bin/docker stop ecs.beat
# ecs.worker.service #######################################################################
[Unit]
Description=Ecs.worker
After=docker.service redis.service memcached.service 
Requires=docker.service redis.service memcached.service 

[Service]
ExecStartPre=-/usr/bin/docker kill ecs.worker
ExecStartPre=-/usr/bin/docker rm ecs.worker
ExecStartPre=/usr/bin/docker pull ecs
ExecStart=/usr/bin/docker run \
    --name ecs.worker \
    -v /data/ecs-storage-vault:/app/ecs-storage-vault \
    --link redis \
    --link memcached \
    --user app \
    ecs \
    worker
ExecStop=/usr/bin/docker stop ecs.worker
# redis.service #######################################################################
[Unit]
Description=Redis
After=docker.service 
Requires=docker.service 

[Service]
ExecStartPre=-/usr/bin/docker kill redis
ExecStartPre=-/usr/bin/docker rm redis
ExecStartPre=/usr/bin/docker pull redis:3.0
ExecStart=/usr/bin/docker run \
    --name redis \
    -v /volatile/container/redis:/data \
    redis:3.0 
ExecStop=/usr/bin/docker stop redis
