[Unit]
Description=Prometheus Node Exporter
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill node-exporter.service
ExecStartPre=-/usr/bin/docker rm node-exporter.service
ExecStartPre=/usr/bin/docker pull prom/node-exporter
ExecStart=/bin/bash -c "var_lib_docker=$(readlink -e /var/lib/docker); exec /usr/bin/docker run \
    --rm \
    --name %n \
    -p 127.0.0.1:5080:8080 \
    --net bridge \
    -v /:/rootfs:ro \
    -v /sys:/sys:ro \
    -v /var/run:/var/run:ro \
    -v $var_lib_docker:/var/lib/docker:ro \
    google/cadvisor \
    --housekeeping_interval=5s"
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
