
once every week, can restart the appliance service if cert is updated (pdfas and mocca need updated cert),
therefore make it in sync with other stuff weekly

+ local: update letsencrypt

deploy-cert-as-root.sh:

+ do not call if domains.txt = empty
+ FIXME restart mocca & pdfas container (has certs in it) if exists, just restart and make docker-compose be ok with it
