[Unit]
Description=Appliance Cleanup
Requires=docker.service appliance.service
PartOf=appliance.service
After=appliance.service
ReloadPropagatedFrom=appliance.service

[Service]
Type=oneshot
Environment=UNITNAME=%n
ExecStart=/bin/bash -c "sleep 30; \
  docker-compose -f /app/etc/ecs/docker-compose.yml rm -v -f; \
  docker volume ls -q -f dangling=true | xargs -r docker volume rm; \
  docker images -q -f dangling=true | xargs -r docker rmi --force"

ExecReload=/bin/true

[Install]
WantedBy=multi-user.target
