[Unit]
Description=Appliance Error
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c '. /usr/local/etc/env.include; userdata_to_env ecs,appliance; \
    . /usr/local/etc/appliance.include; \
    (cat /etc/appliance/last_running_ecs || echo "invalid") > /etc/appliance/last_failed_ecs; \
    rm -f /etc/appliance/last_running_ecs; \
    touch /run/appliance-failed; \
    appliance_exit "Appliance Error" "Appliance (%I) failed to start, system in standby"'
