[Unit]
Description=Appliance Error
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c '. /usr/local/share/appliance/env.include; userdata_to_env ecs,appliance; \
    . /usr/local/share/appliance/appliance.include; \
    (cat /etc/appliance/last_running_ecs || echo "invalid") > /etc/appliance/last_failed_ecs; \
    rm -f /etc/appliance/last_running_ecs; \
    touch /run/appliance-failed; \
    extra=$((for i in prepare-env prepare-appliance prepare-ecs appliance; do \
        systemctl status -l -q --no-pager -n 20 ${i}.service; done) | \
        python3 -c "import sys, json; json.dump({\"status\": sys.stdin.readlines()}, sys.stdout)")
    appliance_exit "Appliance Error" "Appliance (%I) failed to start, system in standby" critical $extra'
