[Unit]
Description=ECS Preparation
ConditionPathExists=!/run/appliance-failed
ConditionFileNotEmpty=/run/active-env.yml
Requires=prepare-appliance.service
Wants=docker.service
PartOf=appliance.service
After=prepare-appliance.service docker.service
Before=appliance.service
ReloadPropagatedFrom=appliance.service

[Service]
Type=oneshot
RemainAfterExit=on
TimeoutStartSec=45min
Environment=UNITNAME=%n
Environment=ENV_YML=/run/active-env.yml
ExecStart=/bin/bash -c '. /usr/local/etc/env.include; \
    userdata_to_env ecs,appliance; \
    exec /usr/local/sbin/prepare-ecs.sh'

[Install]
WantedBy=multi-user.target
