[Unit]
Description=Environment Preparation
PartOf=appliance.service
After=network.target
Before=prepare-appliance.service prepare-ecs.service appliance.service
ReloadPropagatedFrom=appliance.service

[Service]
Type=oneshot
RemainAfterExit=on
TimeoutStartSec=30
Environment="UNITNAME=%n"
ExecStart=/usr/local/sbin/prepare-env.sh

[Install]
WantedBy=multi-user.target
