[Unit]
Description=Appliance Preparation

PartOf=appliance.service
ReloadPropagatedFrom=appliance.service

Requires=postgresql.service nginx.service prepare-env.service
After=network.target postgresql.service prepare-env.service
Before=appliance.service prepare-ecs.service

[Service]
Type=oneshot
RemainAfterExit=on
TimeoutStartSec=30min
Environment=UNITNAME=%n
Environment=ENV_YML=/run/active-env.yml
ExecStart=/bin/bash -c '. /usr/local/etc/env.include; \
    userdata_to_env ecs,appliance; \
    exec /usr/local/sbin/prepare-appliance.sh'

[Install]
WantedBy=multi-user.target
