[Unit]
Description=Appliance Preparation

PartOf=appliance.service
ReloadPropagatedFrom=appliance.service

Requires=docker.service postgresql.service stunnel.service nginx.service prepare-env.service
After=network.target docker.service postgresql.service prepare-env.service
Before=appliance.service prepare-ecs.service

[Service]
Type=oneshot
Environment="UNITNAME=%n"
EnvironmentFile=/app/active-env.env
ExecStart=/usr/local/sbin/prepare-appliance.sh
ExecReload=/bin/true
RemainAfterExit=on

[Install]
WantedBy=multi-user.target
