[Unit]
Description=Appliance Preparation
ConditionPathExists=!/run/appliance-failed
ConditionFileNotEmpty=/run/active-env.yml
Requires=prepare-env.service
Wants=postgresql.service nginx.service
PartOf=appliance.service
After=network.target postgresql.service nginx.service prepare-env.service
Before=prepare-ecs.service appliance.service
ReloadPropagatedFrom=appliance.service

[Service]
Type=oneshot
RemainAfterExit=on
TimeoutStartSec=30min
Environment=UNITNAME=%n
Environment=ENV_YML=/run/active-env.yml
ExecStart=/bin/bash -c '. /usr/local/etc/env.include; \
    userdata_to_env ecs,appliance; \
    exec /usr/local/sbin/prepare-appliance.sh'

[Install]
WantedBy=multi-user.target
