[Unit]
Description=ECS Preparation

PartOf=appliance.service
ReloadPropagatedFrom=appliance.service

Requires=prepare-appliance.service
After=prepare-appliance.service
Before=appliance.service

[Service]
Type=oneshot
Environment="UNITNAME=%n"
ExecStart=/bin/bash -c '. /usr/local/etc/env.include; \
    ENV_YML=/app/active-env.yml userdata_to_env ecs,appliance; \
    exec /usr/local/sbin/prepare-ecs.sh'
ExecReload=/bin/true
RemainAfterExit=on

[Install]
WantedBy=multi-user.target
