[Unit]
Description=Appliance Update
ConditionPathExists=!/run/appliance-failed
ConditionFileNotEmpty=/run/active-env.yml
After=network.target

[Service]
Type=oneshot
RemainAfterExit=off
TimeoutStartSec=30min
Environment=UNITNAME=%n
Environment=ENV_YML=/run/active-env.yml
ExecStart=/bin/bash -c '. /usr/local/share/appliance/env.include; \
    userdata_to_env ecs,appliance; \
    exec /usr/local/share/appliance/update-appliance.sh'

[Install]
WantedBy=multi-user.target
