[Unit]
Description=Reload Nginx on ECS-CA change (eg. empty ecs-ca or revoke certificate)

[Service]
Type=oneshot
ExecStart=/bin/systemctl reload-or-restart nginx
