[Unit]
Description=pghero for ecs in container
After=docker.service
Requires=docker.service postgresql.service

[Service]
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull ankane/pghero
ExecStart=/usr/bin/docker run \
    --rm \
    --name %n \
    --net bridge \
    -p 127.0.0.1:5081:8080 \
    --env-file /app/etc/ecs/database_url.env \
    --env PUMA_WORKERS=1 \
    --env MAX_THREADS=2 \
    ankane/pghero

Restart=always
RestartSec=20
TimeoutStartSec=5min
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
