[Unit]
Description=Prometheus Node Exporter
After=docker.service
ConditionPathExists=/app/etc/flags/metric.collection
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill %n.service
ExecStartPre=-/usr/bin/docker rm %n.service
ExecStartPre=/usr/bin/docker pull prom/prometheus
ExecStart=/usr/bin/docker run \
    --rm \
    --name %n \
    -p 127.0.0.1:9090:9090 \
    --net bridge \
    prom/prometheus \
    -config.file=/data/prometheus.yml \
    -storage.local.path=/data \
    -alertmanager.url=http://alertmanager:9093
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
