[Unit]
Description=Prometheus Node Exporter
After=docker.service
ConditionPathExists=/app/etc/flags/metric.collection
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull prom/prometheus
ExecStart=/usr/bin/docker run \
    --rm \
    --name %n \
    -p 127.0.0.1:9090:9090 \
    --net bridge \
    prom/prometheus
    xxx fixme

Restart=always
RestartSec=30
TimeoutStartSec=5min
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
