### ECS-CONFIG-BEGIN ###
# bash reimplementation of http://pgtune.leopard.in.ua/ postgresql 9.5, linux, web
# https://wiki.postgresql.org/wiki/Tuning_Your_PostgreSQL_Server
# https://www.postgresql.org/docs/9.5/static/runtime-config-resource.html

max_connections = ##MAX_CONNECTIONS##
shared_buffers = ##SHARED_BUFFERS##
work_mem = ##WORK_MEM##
effective_cache_size = ##EFFECTIVE_CACHE_SIZE##

### ECS-CONFIG-END ###
